* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 400px;
    color: #FFFFFF;
}

body {
    background-color: #374151;
    width: 100%;
}

.wrapper_head {
    margin: 0 auto;
    max-width: 1080px;
    padding-top: 71px;
}

.navigation li {
    list-style-type: none;
    margin-bottom: 25px;
}

.logo {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
    background: #4B5563;
}

.button_search {
    width: 224px;
    height: 40px;
    border: none;
    padding-left: 47px;
    border-radius: 100px;
    background: #1F293799;
    color: #FFFFFF;
}

.wrapper_main {
    max-width: 896px;
    margin: 69px auto 103px auto;
}

.text_date {
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 0 14px 0;
    text-align: center;
}

.text_main {
    font-size: 24px;
    color: #FFFFFF;
    margin: 0 0 30px 0;
    text-align: center;
}

.person {
    width: 214px;
    margin: o auto 28px auto;
}

.name_autor {
    width: 148px;
}

.autor {
    margin-left: 368px;
    margin-bottom: 28px;
}

.autor_pos {
    opacity: 0.6;
}

.image_main {
    margin-bottom: 65px;
}

.size24 {
    font-size: 24px;
}

.size20 {
    font-size: 20px;
}

.size16 {
    font-size: 16px;
}

.size14 {
    font-size: 14px;
}

.image_one {
    border-radius: 5px;
    width: 100%;
}

.tab {
    margin-bottom: 15px;
}

.footer {
    width: 100%;
    text-align: center;
    opacity: 0.6;
    margin-bottom: 77px;
}