* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
}

body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    width: 100%;
}

.header_wrapper {
    margin: 0 auto;
    max-width: 1080px;
    padding: 71px 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;  
}

.wrapper_logo {
    display: flex;
    align-items: center;
    align-items: baseline;
    margin-right: 77px;
}

.logo {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
    background: #4B5563;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
}
.logo_blog {
    font-size: 18px;
    line-height: 21px;
}

.navigation {
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 50px;
}

.nav_item a {
    font-size: 16px;
    line-height: 18px; 
}

.nav_item_1 {
    display: flex;
    gap: 52px;
}

.nav_item_2 {
    display: flex;
    gap: 39px;
}

.button_search {
    display: flex;
    width: 224px;
    height: 40px;
    border: none;
    padding-left: 47px;
    border-radius: 100px;
    background: #1F293799;
    color: #FFFFFF;
}

.search {
    margin-left: auto;
}

.wrapper_main {
    max-width: 896px;
    margin: 0 auto;
}

.text_date {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.41px;
    color: #FFFFFF;
    margin: 0 0 14px 0;
    text-align: center;
}

.text_main {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 38px;
    margin: 0 0 30px 0;
    text-align: center;
}

.person {
    margin: 0 auto 26px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.person_image {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}

.person_image img {
    width: 100%;
    height: 100%;
}


.person>p {
    line-height: 28px;
}

.author_pos {
    opacity: 0.6;
}

.image_main {
    max-width: 896px;
    max-height: 594px;
    width: 100%;
    height: 100%;
    margin-bottom: 65px;
    border-radius: 5px;
}

.image_main img {
    width: 100%;
    height: 100%;
}

.wrapper_text {
    margin: 0 auto;
    max-width: 708px;
}

.wrapper_footer {
    padding-top: 80px;
    padding-bottom: 77px;
    width: 100%;
    text-align: center;
}

.footer {
    opacity: 0.6;
}

.size24 {
    font-size: 24px;
}

.size20 {
    font-size: 20px;
}

.size16 {
    font-size: 16px;
}

.size14 {
    font-size: 14px;
}

.tab {
    margin-bottom: 15px;
}